{% load i18n %}
{% if paginator.count > 0 %}
    <nav>
        <ul class="pagination">
            <li><span aria-hidden="true">{{ paginator.count }} {% trans "records" %}</span></li>
            <li><span aria-hidden="true">{% trans "Pages" %}</span></li>
            <li>
                {% if page_obj.has_previous %}
                    <a href="?page={{ page_obj.previous_page_number }}" aria-label="{% trans "Previous" %}">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                {% endif %}
            </li>
            {% for page_number in paginator.page_range %}
                <li>
                    {% if page_number != page_obj.number %}
                        <a href="?page={{ page_number }}">{{ page_number }}</a>
                    {% else %}
                        <span aria-hidden="true"><font color="red">{{ page_number }}</font></span>
                    {% endif %}
                </li>
            {% endfor %}
            <li>
                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}" aria-label="{% trans "Next" %}">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                {% endif %}
            </li>
        </ul>
    </nav>
{% endif %}
