{% extends 'alexandrie/base_tpl.html' %}

{% load tag_extras %}

{% block title %}Auteur{% endblock %}

{% block pageTitle %}Auteur{% endblock %}

{% block content %}

<div class="row">
    <div class="col-sm-12">
        {% include 'alexandrie/inc_form_header.html' %}
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">{{form.instance.get_full_name|default:"Nouvel auteur"}}</h3>
            </div>
            <div class="panel-body">
                <form action="" method="post" role="form">{% csrf_token %}
                {% for field in form %}
                    <div class="form-group">
                        {{ field.label_tag }}
                        {{ field|addcss:"form-control" }}{{ field.errors }}
                    </div>
                {% endfor %}
                    <button type="submit" class="btn btn-default">Enregistrer</button>
                </form>
                {% include 'alexandrie/inc_form_footer.html' %}
            </div>
        </div>
    </div><!-- /.col-sm-12 -->
</div>
{% endblock %}
