{% extends 'alexandrie/base_tpl.html' %}

{% block title %}Auteur{% endblock %}

{% block pageTitle %}Auteur{% endblock %}

{% block content %}

<div class="row">
    <div class="col-sm-8">
        {% include 'alexandrie/_inc_form_edit_header.html' %}
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">{{object.get_full_name|default:"Nouvel auteur"}}</h3>
            </div>
            <div class="panel-body">
                <form class="form-horizontal" action="" method="post" role="form">{% csrf_token %}
                    {% include 'alexandrie/_inc_form_edit_content_std.html' %}
                    {% include 'alexandrie/_inc_form_edit_buttons_std.html' with delete_url='alexandrie:author_delete' %}
                </form>
                {% include 'alexandrie/_inc_form_edit_footer.html' %}
            </div>
        </div>
    </div>
    <div class="col-sm-4">
    {% if object.id > 0 %}
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">Livres</h3>
            </div>
            <div class="panel-body">
                <ul>
                {% for book in object.get_books %}
                    <li>
                        <a href="{% url 'alexandrie:book_update' book.id %}">
                            {{ book }}
                        </a>
                    </li>
                {% endfor %}
                </ul>
            </div>
        </div>
    {% endif %}
    </div>
</div>
{% endblock %}
