{% extends 'alexandrie/base_tpl.html' %}

{% block title %}Liste des auteurs{% endblock %}

{% block pageTitle %}Liste des auteurs{% endblock %}

{% block content %}

<form class="form-horizontal" action="{% url 'alexandrie:author_list' %}" method="post" role="form">{% csrf_token %}
    {% include 'alexandrie/_inc_form_search_std.html' %}
</form>

<div class="row">
    <div class="col-md-12">
        {% include 'alexandrie/_inc_paginator_list.html' %}
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Date de naissance</th>
                    <th>Créé le</th>
                </tr>
            </thead>
            <tbody>
                {% for author in object_list_p %}
                <tr>
                    <td><a href="{% url 'alexandrie:author_update' author.id %}">{{ author.first_name }}&nbsp;{{ author.last_name }}</a></td>
                    <td>{{ author.birthday|default:"" }}</td>
                    <td>{{ author.created_on }}</td>
                </tr>
                {% empty %}
                    <tr><td colspan="3">Aucun auteur.</td></tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
