{% extends 'alexandrie/base_tpl.html' %}

{% block title %}Auteur{% endblock %}

{% block pageTitle %}Auteur{% endblock %}

{% block content %}

<div class="row">
    <div class="col-sm-12">
        {% include 'alexandrie/inc_form_header.html' %}
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">{{object.get_full_name|default:"Nouvel auteur"}}</h3>
            </div>
            <div class="panel-body">
                {% include 'alexandrie/inc_form_content_std.html' with delete_url='alexandrie:author_delete' %}
                {% include 'alexandrie/inc_form_footer.html' %}
            </div>
        </div>
    </div><!-- /.col-sm-12 -->
</div>
{% endblock %}
