{% extends 'alexandrie/base_tpl.html' %}

{% load tag_extras %}

{% block title %}Import ISBN d'un livre{% endblock %}

{% block pageTitle %}Import ISBN d'un livre{% endblock %}

{% block content %}

<form class="form-horizontal" action="{% url 'alexandrie:book_isbn_import' %}" method="post" role="form">{% csrf_token %}
    <input type="hidden" name="cmd" value="search_isbn" />
    <div class="row">
        <div class="form-group">
            <label for="isbn_nb" class="col-sm-2 control-label">No. ISBN</label>
            <div class="col-sm-10">
                <input id="isbn_nb" name="isbn_nb" type="text" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group">
            <div class="col-sm-offset-1 col-sm-11">
                <button type="submit" class="btn btn-primary">Rechercher</button>
            </div>
        </div>
    </div>
</form>
{% if search %}
    {% if book_form and book_form.instance.id %}
        <div class="row">
            <div class="alert alert-success">
                <p>Ce livre <a href="{% url 'alexandrie:book_update' book_form.instance.id %}">existe déjà dans la base de données.</a></p>
            </div>
        </div>
    {% else %}
        {% if book_form %}
            <form class="form-horizontal" action="{% url 'alexandrie:book_isbn_import' %}" method="post" role="form">{% csrf_token %}
                <input type="hidden" name="cmd" value="import_isbn" />
                <div class="row">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h3 class="panel-title">Livre trouvé</h3>
                        </div>
                        <div class="panel-body">
                            <div class="form-group">
                                <div class="col-sm-2">{{ book_form.isbn_nb.label }}:</div>
                                <div class="col-sm-10">{{ book_form.isbn_nb.value }}</div>
                                <input type="hidden" name="isbn_nb" value="{{ book_form.isbn_nb.value }}"/>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-2">{{ book_form.title.label }}:</div>
                                <div class="col-sm-10">{{ book_form.title.value }}</div>
                                <input type="hidden" name="title" value="{{ book_form.title.value }}"/>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-2">{{ book_form.publish_date.label }}:</div>
                                <div class="col-sm-10">{{ book_form.publish_date.value }}</div>
                                <input type="hidden" name="publish_date" value="{{ book_form.publish_date.value }}"/>
                            </div>
                        </div>
                    </div>
                    {% for author_form in authors_form %}
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <h3 class="panel-title">Auteur&nbsp;n°.{{ forloop.counter }}&nbsp;:
                                    <input name="author_nb" type="hidden" value="{{ forloop.counter0 }}"/>
                                    {% if not author_form.instance.id %}
                                        cet auteur n'existe pas dans la base, le créer?
                                        <input name="author_to_create_{{ forloop.counter0 }}" type="checkbox" value="{{ forloop.counter0 }}" checked/>
                                    {% else %}
                                        <input name="author_id_{{ forloop.counter0 }}" type="hidden" value="{{ author_form.instance.id }}" />
                                        cet auteur existe déjà la base, il sera associé au livre.
                                    {% endif %}
                                </h3>
                            </div>
                            <div class="panel-body">
                                {% if not author_form.instance.id %}
                                    {% for field in author_form %}
                                        <div class="form-group">
                                            <label for="{{ field.id_for_label }}" class="col-sm-2 control-label {{ field.css_classes }}">{{ field.label }}</label>
                                            <div class="col-sm-10">
                                                {{ field|addcss:"form-control" }}
                                                {% if field.errors %}
                                                    <div class="text-danger">{{ field.errors }}</div>
                                                {% endif %}
                                            </div>
                                        </div>
                                    {% endfor %}
                                {% else %}
                                    <div class="form-group">
                                        <div class="col-sm-2">Nom:</div>
                                        <div class="col-sm-10">{{ author_form.first_name.value }}&nbsp;{{ author_form.last_name.value }}</div>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h3 class="panel-title">Editeur&nbsp;n°:
                                {% if not publisher_form.instance.id %}
                                    cet éditeur n'existe pas dans la base, le créer?
                                    <input name="publisher_to_create" type="checkbox" value="publisher" checked/>
                                {% else %}
                                    <input name="publisher_id" type="hidden" value="{{ publisher_form.instance.id }}" />
                                    cet éditeur existe déjà dans la base, il sera associé au livre.
                                {% endif %}
                             </h3>
                        </div>
                        <div class="panel-body">
                            {% if not publisher_form.instance.id %}
                                {% for field in publisher_form %}
                                    <div class="form-group">
                                        <label for="{{ field.id_for_label }}" class="col-sm-2 control-label {{ field.css_classes }}">{{ field.label }}</label>
                                        <div class="col-sm-10">
                                            {{ field|addcss:"form-control" }}
                                            {% if field.errors %}
                                                <div class="text-danger">{{ field.errors }}</div>
                                            {% endif %}
                                        </div>
                                    </div>
                                {% endfor %}
                            {% else %}
                                <div class="form-group">
                                    <div class="col-sm-2">Nom:</div>
                                    <div class="col-sm-10">{{ publisher_form.name.value }}</div>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-primary">Importer</button>
                        </div>
                    </div>
                </div>
            </form>
        {% else %}
            <div class="row">
                <div class="col-md-12">
                    No. ISBN inconnu
                </div>
            </div>
        {% endif %}
    {% endif %}
{% endif %}
{% endblock %}