{% extends 'alexandrie/base_tpl.html' %}



{% block title %}Exemplaire d'un livre{% endblock %}

{% block pageTitle %}Exemplaire d'un livre{% endblock %}

{% block content %}

<div class="row">
    <div class="col-sm-12">
        {% include 'alexandrie/inc_form_header.html' %}
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">{{form.instance.number|default:"Nouvel exemplaire"}} ({{ form.instance.book }})</h3>
            </div>
            <div class="panel-body">
                {% include 'alexandrie/inc_form_content_std.html' %}
                {% include 'alexandrie/inc_form_footer.html' %}
            </div>
        </div>
    </div><!-- /.col-sm- -->
</div>
{% endblock %}
