{% extends 'alexandrie/base_tpl.html' %}

{% block title %}Retrait d'un exemplaire{% endblock %}

{% block pageTitle %}Retrait d'un exemplaire{% endblock %}

{% block content %}

<div class="textWarning">
    <p>Retirer un exemplaire signifie qu'il ne fera plus partie des exemplaires à emprunter.&nbsp;
    Toutefois il sera conservé dans l'historique du système.</p>
</div>
<div class="row">
    <div class="col-sm-12">
        {% include 'alexandrie/inc_form_header.html' %}
        <form class="form-horizontal" action="" method="post" role="form">{% csrf_token %}
            {% include 'alexandrie/inc_form_content_std.html' %}
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-warning">Retirer</button>
                    <a class="btn" href="{% url 'alexandrie:bookcopy_update' form.instance.id %}">Annuler</a>
                </div>
            </div>
        </form>
    </div><!-- /.col-sm-12 -->
</div>
{% endblock %}