{% extends 'alexandrie/base_tpl.html' %}

{% block title %}Liste des livres{% endblock %}

{% block pageTitle %}Liste des livres{% endblock %}

{% block content %}

<form class="form-horizontal" action="{% url 'alexandrie:book_list' %}" method="post" role="form">{% csrf_token %}
    {% include 'alexandrie/_inc_form_search_std.html' %}
</form>

<div class="row">
    <div class="col-md-12">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Titre</th>
                    <th>No. ISBN</th>
                    <th># Exemplaires</th>
                    <th>Créé le</th>
                </tr>
            </thead>
            <tbody>
                {% for book in book_list %}
                <tr>
                    <td><a href="{% url 'alexandrie:book_update' book.id %}">{{ book.title }}</a></td>
                    <td>{{ book.isbn_nb|default:"Aucun" }}</td>
                    <td>{{ book.get_nb_copy }}</td>
                    <td>{{ book.created_on }}</td>
                </tr>
                {% empty %}
                    <tr><td colspan=2>Aucun livre.</td></tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
