{% extends 'alexandrie/base_tpl.html' %}

{% block title %}Liste des livres{% endblock %}

{% block pageTitle %}Liste des livres{% endblock %}

{% block content %}

<form class="form-horizontal" action="{% url 'alexandrie:book_list' %}" method="post" role="form">{% csrf_token %}
<div class="panel panel-info">
    <div class="panel-heading">
        <h3 class="panel-title">Recherche</h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="row">
                <div class="col-sm-6">
                    {% for field in search_form %}
                    <div class="form-group">
                        <label for="{{ field.id_for_label }}" class="col-sm-4 control-label">{{ field.label }}</label>
                        <div class="col-sm-8">
                            {{ field }}
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="author_last_name" class="col-sm-2 control-label">Nom auteur</label>
                        <div class="col-sm-10">
                            <input type="text" id="author_last_name" name="author_last_name"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <div class="col-sm-offset-1 col-sm-11">
                    <button type="submit" class="btn btn-primary">Rechercher</button>
                </div>
            </div>
        </div>
    </div>
</div>
</form>

<div class="row">
    <div class="col-md-12">
        {% include 'alexandrie/_inc_paginator_list.html' %}
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Titre</th>
                    <th>Auteur</th>
                    <th>No. ISBN</th>
                    <th># Exemplaires</th>
                    <th>Créé le</th>
                </tr>
            </thead>
            <tbody>
                {% for book in object_list %}
                <tr>
                    <td><a href="{% url 'alexandrie:book_update' book.id %}">{{ book.title }}</a></td>
                    <td><a href="{% url 'alexandrie:author_update' book.authors.first.id %}">{{ book.authors.first }}</td>
                    <td>{{ book.isbn_nb|default:"Aucun" }}</td>
                    <td>{{ book.get_nb_copy }}</td>
                    <td>{{ book.created_on }}</td>
                </tr>
                {% empty %}
                    <tr><td colspan="5">Aucun livre.</td></tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
