{% extends 'alexandrie/base_tpl.html' %}

{% block title %}Livre{% endblock %}

{% block pageTitle %}Livre{% endblock %}

{% block head %}
    <link rel="stylesheet" href="/static/alexandrie/layout/ajax_select/css/ajax_select.css" />
    <link rel="stylesheet" href="/static/alexandrie/layout/jquery-ui/jquery-ui.min.css" />
    <link rel="stylesheet" href="/static/alexandrie/layout/jquery-ui/jquery-ui.structure.min.css" />
    <link rel="stylesheet" href="/static/alexandrie/layout/jquery-ui/jquery-ui.theme.min.css" />
{% endblock %}

{% block content %}

<div class="row">
    <div class="col-sm-8">
        {% include 'alexandrie/_inc_form_edit_header.html' %}
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">{{object.title|default:"Nouveau livre"}}</h3>
            </div>
            <div class="panel-body">
                <form class="form-horizontal" action="" method="post" role="form">{% csrf_token %}
                    {% include 'alexandrie/_inc_form_edit_content_std.html' %}
                    {% if book.has_copies %}
                        {% include 'alexandrie/_inc_form_edit_buttons_std.html' %}
                    {% else %} {% comment %}Only allow book deletion if there are no copies linked to it{% endcomment %}
                        {% include 'alexandrie/_inc_form_edit_buttons_std.html' with delete_url='alexandrie:book_delete' %}
                    {% endif %}
                </form>
                {% include 'alexandrie/_inc_form_edit_footer.html' %}
            </div>
        </div>
    </div><!-- /.col-sm- -->
    <div class="col-sm-4">
    {% if object.id > 0 %}
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">Exemplaires</h3><a href="{% url 'alexandrie:bookcopy_add' object.id %}">Ajouter</a>
            </div>
            <div class="panel-body">
                <ul>
                {% for bookcopy in bookcopy_list %}
                    <li>
                        <a href="{% url 'alexandrie:bookcopy_update' bookcopy.id %}">
                            {% if bookcopy.is_disabled %}
                                <del>Exemplaire {{ bookcopy }}</del>&nbsp;(Retiré)
                            {% else %}
                                Exemplaire {{ bookcopy }}
                            {% endif %}
                        </a>
                    </li>
                {% endfor %}
                </ul>
            </div>
        </div>
    {% endif %}
    </div>
</div>
{% endblock %}
{% block jscript %}
<script src="/static/alexandrie/layout/jquery-ui/jquery-ui.min.js"></script>
<script src="/static/alexandrie/layout/ajax_select/js/ajax_select.js"></script>
{% endblock %}