{% extends 'alexandrie/base_tpl.html' %}

{% load tag_extras %}

{% block title %}Exemplaire d'un livre{% endblock %}

{% block pageTitle %}Exemplaire d'un livre{% endblock %}

{% block content %}
<div class="row">
    <div class="col-sm-12">
        {% include 'alexandrie/inc_form_header.html' %}
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">{{form.instance.number|default:"Nouvel exemplaire"}} ({{ form.instance.book }})</h3>
            </div>
            <div class="panel-body">
                <form class="form-horizontal" action="" method="post" role="form">{% csrf_token %}
                {% for field in form %}
                    <div class="form-group">
                        <label for="{{ field.id_for_label }}" class="col-sm-2 control-label">{{ field.label }}</label>
                        <div class="col-sm-10">
                            {{ field|addcss:"form-control" }}
                            {% if field.errors %}
                                <div class="text-danger">{{ field.errors }}</div>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
                    {% include 'alexandrie/inc_form_buttons_std.html' %}
                    <a class="btn" href="{% url 'alexandrie:book_update' form.instance.book.id %}">Annuler</a>
                </form>
                {% include 'alexandrie/inc_form_footer.html' %}
            </div>
        </div>
    </div><!-- /.col-sm- -->
</div>
{% endblock %}
