{% extends 'alexandrie/base_tpl.html' %}
{% load i18n %}

{% block title %}{% trans "Book list" %}{% endblock %}

{% block pageTitle %}{% trans "Book list" %}{% endblock %}

{% block content %}

<form class="form-horizontal" action="{% url 'alexandrie:book_list' %}" method="post" role="form">{% csrf_token %}
<div class="panel panel-info">
    <div class="panel-heading">
        <h3 class="panel-title">{% trans "Search form" %}</h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="row">
                <div class="col-sm-6">
                    {% for field in search_form %}
                    <div class="form-group">
                        <label for="{{ field.id_for_label }}" class="col-sm-4 control-label">{{ field.label }}</label>
                        <div class="col-sm-8">
                            {{ field }}
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="author_last_name" class="col-sm-2 control-label">{% trans "Author" %}</label>
                        <div class="col-sm-10">
                            <input type="text" id="author_name" name="author_name" value="{{ author_name }}"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <div class="col-sm-offset-1 col-sm-11">
                    <button type="submit" class="btn btn-primary">{% trans "Search" %}</button>
                </div>
            </div>
        </div>
    </div>
</div>
</form>

<div class="row">
    <div class="col-md-12">
        {% include 'alexandrie/_inc_paginator_list.html' %}
        <table class="table table-striped">
            <thead>
                <tr>
                    <th><a href="{% url 'alexandrie:book_list' %}?order_field=title">{% trans "Title" %}</a></th>
                    <th>Auteur</th>
                    <th><a href="{% url 'alexandrie:book_list' %}?order_field=isbn_nb">{% trans "ISBN number" %}</a></th>
                    <th># Exemplaires</th>
                    <th><a href="{% url 'alexandrie:book_list' %}?order_field=created_on">{% trans "Created on" %}</a></th>
                </tr>
            </thead>
            <tbody>
                {% for book in object_list %}
                <tr>
                    <td><a href="{% url 'alexandrie:book_update' book.id %}">{{ book.title }}</a></td>
                    <td><a href="{% url 'alexandrie:author_update' book.authors.first.id %}">{{ book.authors.first }}</td>
                    <td>{{ book.isbn_nb|default:"-" }}</td>
                    <td>{{ book.get_nb_copy }}</td>
                    <td>{{ book.created_on }}</td>
                </tr>
                {% empty %}
                    <tr><td colspan="5">{% trans "No book." %}</td></tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
