{% extends 'alexandrie/base_tpl.html' %}

{% block title %}Livre{% endblock %}

{% block pageTitle %}Livre{% endblock %}

{% block content %}

<div class="row">
    <div class="col-sm-8">
        {% include 'alexandrie/inc_form_header.html' %}
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">{{object.title|default:"Nouveau livre"}}</h3>
            </div>
            <div class="panel-body">
                <form class="form-horizontal" action="" method="post" role="form">{% csrf_token %}
                    {% include 'alexandrie/inc_form_content_std.html' %}
                    {% if book.has_copies %}
                        {% include 'alexandrie/inc_form_buttons_std.html' %}
                    {% else %} {% comment %}Only allow book deletion if there are no copies linked to it{% endcomment %}
                        {% include 'alexandrie/inc_form_buttons_std.html' with delete_url='alexandrie:book_delete' %}
                    {% endif %}
                </form>
                {% include 'alexandrie/inc_form_footer.html' %}
            </div>
        </div>
    </div><!-- /.col-sm- -->
    <div class="col-sm-4">
    {% if object.id > 0 %}
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">Exemplaires</h3><a href="{% url 'alexandrie:bookcopy_add' object.id %}">Ajouter</a>
            </div>
            <div class="panel-body">
                <ul>
                {% for bookcopy in bookcopy_list %}
                    <li>
                        <a href="{% url 'alexandrie:bookcopy_update' bookcopy.id %}">
                            {% if bookcopy.is_disabled %}
                                <del>Exemplaire {{ bookcopy }}</del>&nbsp;(Retiré)
                            {% else %}
                                Exemplaire {{ bookcopy }}
                            {% endif %}
                        </a>
                    </li>
                {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}
