{% extends 'alexandrie/base_tpl.html' %}

{% block title %}Liste des éditeurs{% endblock %}

{% block pageTitle %}Liste des éditeurs{% endblock %}

{% block content %}

<form class="form-horizontal" action="{% url 'alexandrie:publisher_list' %}" method="post" role="form">{% csrf_token %}
    {% include 'alexandrie/_inc_form_search_std.html' %}
</form>

<div class="row">
    <div class="col-md-12">
        {% include 'alexandrie/_inc_paginator_list.html' %}
        <table class="table table-striped">
            <thead>
                <tr>
                    <th><a href="{% url 'alexandrie:publisher_list' %}?order_field=name">Nom</a></th>
                    <th><a href="{% url 'alexandrie:publisher_list' %}?order_field=created_on">Créé le</a></th>
                </tr>
            </thead>
            <tbody>
                {% for publisher in object_list %}
                <tr>
                    <td><a href="{% url 'alexandrie:publisher_update' publisher.id %}">{{ publisher.name }}</a></td>
                    <td>{{ publisher.created_on}}</td>
                </tr>
                {% empty %}
                    <tr><td colspan="2">Aucun éditeur.</td></tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
