{% extends 'alexandrie/base_tpl.html' %}

{% block title %}Emprunt{% endblock %}

{% block pageTitle %}Emprunt{% endblock %}

{% block head %}
    <link rel="stylesheet" href="/static/alexandrie/layout/ajax_select/css/ajax_select.css" />
    <link rel="stylesheet" href="/static/alexandrie/layout/jquery-ui/jquery-ui.min.css" />
    <link rel="stylesheet" href="/static/alexandrie/layout/jquery-ui/jquery-ui.structure.min.css" />
    <link rel="stylesheet" href="/static/alexandrie/layout/jquery-ui/jquery-ui.theme.min.css" />
    <link rel="stylesheet" href="/static/alexandrie/layout/jquery-datepicker/jquery.datepick.css">
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-sm-12">
        {% include 'alexandrie/_inc_form_edit_header.html' %}
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">{{object.get_full_name|default:"Nouvel emprunt"}}</h3>
            </div>
            <div class="panel-body">
                <form class="form-horizontal" action="" method="post" role="form">{% csrf_token %}
                    {% include 'alexandrie/_inc_form_edit_content_std.html' %}
                    {% include 'alexandrie/_inc_form_edit_buttons_std.html' with delete_url='alexandrie:reader_borrow_delete' %}
                </form>
                {% include 'alexandrie/_inc_form_edit_footer.html' %}
            </div>
        </div>
    </div><!-- /.col-sm-12 -->
</div>
{% endblock %}
{% block jscript %}
<script src="/static/alexandrie/layout/jquery-ui/jquery-ui.min.js"></script>
<script src="/static/alexandrie/layout/ajax_select/js/ajax_select.js"></script>
<script type="text/javascript" src="/static/alexandrie/layout/jquery-datepicker/jquery.plugin.min.js"></script> 
<script type="text/javascript" src="/static/alexandrie/layout/jquery-datepicker/jquery.datepick.min.js"></script>
<script type="text/javascript" src="/static/alexandrie/layout/jquery-datepicker/jquery.datepick-{{ JS_DATEPICKER_LANG }}.js"></script>
<script>
$(function() {
    $('#id_borrowed_date').datepick({dateFormat: 'dd/mm/yyyy'});
    $('#id_borrow_due_date').datepick({dateFormat: 'dd/mm/yyyy'});
    $('#id_returned_on').datepick({dateFormat: 'dd/mm/yyyy'});
});
</script>
{% endblock %}
